<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Подтверждение заказа</title>
    <link rel="stylesheet" th:href="@{../static/css/stylesheet.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(Cart)}"/>

    <h1>Подтверждение заказа</h1>

    <div>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Название товара</th>
                <th>Количество</th>
                <th>Цена</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${cart.items}">
                <td th:text="${item.product.title}"/>
                <td th:text="${item.quantity}"/>
                <td th:text="${item.price}"/>
            </tr>
            </tbody>
        </table>
        <span th:text="'Общая стоимость: ' + ${cart.price}" />
        <br><br>
        <form th:action="@{/orders/create}" method="POST">
            <label>Телефон для связи:</label>
            <input class="form-control" name="phone" type="text" />
            <br>
            <label>Адрес доставки:</label>
            <textarea class="form-control" name="delivery"></textarea>
            <br><br>
            <button type="submit" th:text="Подтвердить" class="btn btn-primary"></button>
            <a class="btn btn-primary" th:href="@{/orders/clear}" >Отказаться</a>
        </form>
    </div>
</div>

</body>
</html>